<!-- @author Konstantin Bogdanoski (konstantin.b@live.com) -->
<table xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Pay</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr th:each="user : ${deliverers}">
        <td>
            <span th:text="${user.id}"></span>
        </td>
        <td>
            <span th:text="${user.email}"></span>
        </td>
        <td>
            <span th:text="${user.pay}"></span>
        </td>
        <td>
            <form th:action="@{/admin/editUser/} + ${user.id}" method="get">
                <button type="submit" class="button-secondary">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/users/} + ${user.id}" method="post"
                  onsubmit="return deleteUser(this, '${user.id}');">
                <input type="hidden" name="ingredientID" th:value="${user.id}">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="button-error">Delete</button>
            </form>
        </td>
    </tr>
</table>
<script>
    function deleteUser(form, userID) {
        if (confirm("Are you sure you want to delete the User?")) {
            form.action(userID);
            return true;
        }
        return false;
    }
</script>