<!-- @author Konstantin Bogdanoski (konstantin.b@live.com) -->
<style xmlns:th="http://www.w3.org/1999/xhtml">
    body {
        text-align: center;
    }

    #form {
        padding: 50px;
        margin: 50px;
        border: 2px solid black;
        display: inline-block;
        background: navajowhite;
    }
</style>
<form id="form" action="#" th:action="@{/users/} + ${user.id}" th:object="${user}" method="post">
    <h2>Edit User</h2>
    <input type="hidden" name="userID" th:value="${user.id}">
    <input type="hidden" name="_method" value="PATCH"/>
    <label for="email">E-mail</label>
    <input style="background: dimgray; border: dimgray" id="email" th:field="*{email}" th:value="${user.email}"
           type="text" readonly><br><br>
    <label for="address">Address</label>
    <input style="border: dimgray" id="address" th:field="*{address}" th:value="${user.address}"
           type="text">
    <hr/>
    <button type="submit" class="button-secondary">Change</button>
    <button type="button" class="button-error" onclick="location.href='/admin/users'">Cancel</button>
</form>